{% extends 'base.html.twig' %}

{% block body %}
    <h1>🦫 Père Castor, raconte nous une REGEX 🦫</h1>

    {{ form_start(form) }}
        {{ form_row(form.regex) }}
        {{ form_row(form.submit, {
            label_html: true,
            label: 'Raconte-moi une histoire Père Castor ! <img class="htmx-indicator" src="./wait.svg"/>',
        }) }}
    {{ form_end(form) }}

    <div id="response"></div>
{% endblock %}
